<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Page</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

<header>
    <div class="top-bar">
        <div class="left-options">
            <img src="../assets/logo.png" alt="Logo">
            
            <div class="search-bar">
                <input class="search-input" type="text" placeholder="Nhập nội dung tìm kiếm">
                <img src="../assets/fa-solid fa-magnifying-glass@2x.png" alt="Search Icon" width="20" height="20">
            </div>
        </div>
        
        <div class="options">
            <img src="../assets/account.png" alt="account">
            <img src="../assets/menu.png" alt="menu">
        </div>
    </div>
</header>

<div class="main-navigation">
    <div class="list-container">
        <ul class="options-list">
            <li class="active"><a class="menu-link" href="#">NÓNG</a></li>
            <li class="active"><a class="menu-link" href="#">MỚI</a></li>
            <li class="active"><a class="menu-link" href="#">VIDEO</a></li>
            <li class="active">
                <div class="menu-link">
                    <p>CHỦ ĐỀ</p>
                    <a class="menu-link-mini" href="#"># Năng lượng tích cực</a>
                    <a class="menu-link-mini" href="#"># Khám phá Việt Nam</a>
                    <a class="menu-link-mini" href="#"># Khám phá Thế Giới</a>
                </div>
            </li>
           
        </ul>

        <img src="../assets/menu-green.png" height="54px">
    </div>
    
</div>

<div class="container">
    <div class="main-content">
        <div class="top-story">
            <img class="top-story__image" src="../assets/top-news.png" alt="Top Story Image">
            <h1>'Rốn lũ' Tân Hóa ngập tới 2m, hàng trăm hộ <br/> dân lên nhà phao tránh trú</h1>
            <div class="top-story__footer">
                <img class="branch-logo" src="../assets/vietnamnet.png" alt="Vietnamnet">
                <p>1 giờ</p>
                <p>8 liên quan</p>
            </div>
            
        </div>

        <div class="news-grid">
            <div class="news-item">
                <img class="middle-img" src="../assets/middle-news01.png" alt="News Image">
                <h3>Thống nhất phương án trình Chính phủ lịch nghỉ lễ, Tết năm 2025</h3>
                <div class="top-story__footer2">
                    <img class="branch-logo" src="../assets/vietnamplus.png" alt="Vietnamnet">
                    <p>1 giờ</p>
    
                </div>
            </div>

            <div class="news-item">
                <img class="middle-img" src="../assets/middle-news02.png" alt="News Image">
                <h3>Buổi vận động tranh cử đặc biệt của bà Kamala Harris</h3>
                <div class="top-story__footer2">
                    <img class="branch-logo" src="../assets/vietnamplus.png" alt="Vietnamnet">
                    <p>1 giờ</p>
    
                </div>
            </div>
            
            <div class="news-item">
                <img class="middle-img" src="../assets/middle-news03.png" alt="News Image">
                <h3>Đưa cần cẩu cỡ lớn vớt nhịp cầu Phong Châu dưới Sông Hồng</h3>
                <div class="top-story__footer2">
                    <img class="branch-logo" src="../assets/vietnamplus.png" alt="Vietnamnet">
                    <p>1 giờ</p>
    
                </div>
            </div>
            <!-- Add more news items as needed -->
        </div>

        <div class="bottom-news">
            <div class="section section--nopadding">
                <img class="section-img section-img--sm" src="../assets/bottom-news01.png" alt="Ad Image" height="42px" width="42px">
                <div class="section-footer">
                    <h3 class="btns__text">Kê biên, thu giữ bộ sưu tập đồng hồ xa xỉ và khối
                        tài sản "khủng" của cựu Bí thư Tỉnh ủy Bến Tre
                    </h3>
    
                    <div class="top-story__footer2 btns__footer">
                        <img class="branch-logo" src="../assets/tienphong.png" alt="Vietnamnet">
                        <p>1 giờ</p>
                        <p>6 liên quan</p>
                    </div>
                </div>
                
            </div>

            <div class="section section--nopadding">
                <img class="section-img section-img--sm" src="../assets/bottom-news02.png" alt="Ad Image" height="42px" width="42px">
                <div class="section-footer">
                    <h3 class="btns__text">Kê biên, thu giữ bộ sưu tập đồng hồ xa xỉ và khối
                        tài sản "khủng" của cựu Bí thư Tỉnh ủy Bến Tre
                    </h3>
    
                    <div class="top-story__footer2 btns__footer">
                        <img class="branch-logo" src="../assets/tienphong.png" alt="Vietnamnet">
                        <p>1 giờ</p>
                        <p>6 liên quan</p>
                    </div>
                </div>
                
            </div>

            <div class="section section--nopadding">
                <img class="section-img section-img--sm" src="../assets/bottom-news03.png" alt="Ad Image" height="42px" width="42px">
                <div class="section-footer">
                    <h3 class="btns__text">Kê biên, thu giữ bộ sưu tập đồng hồ xa xỉ và khối
                        tài sản "khủng" của cựu Bí thư Tỉnh ủy Bến Tre
                    </h3>
    
                    <div class="top-story__footer2 btns__footer">
                        <img class="branch-logo" src="../assets/tienphong.png" alt="Vietnamnet">
                        <p>1 giờ</p>
                        <p>6 liên quan</p>
                    </div>
                </div>
                
            </div>

            <div class="section section--nopadding">
                <img class="section-img section-img--sm" src="../assets/bottom-news04.png" alt="Ad Image" height="42px" width="42px">
                <div class="section-footer">
                    <h3 class="btns__text">Kê biên, thu giữ bộ sưu tập đồng hồ xa xỉ và khối
                        tài sản "khủng" của cựu Bí thư Tỉnh ủy Bến Tre
                    </h3>
    
                    <div class="top-story__footer2 btns__footer">
                        <img class="branch-logo" src="../assets/tienphong.png" alt="Vietnamnet">
                        <p>1 giờ</p>
                        <p>6 liên quan</p>
                    </div>
                </div>
                
            </div>

            <div class="section section--nopadding">
                <img class="section-img section-img--sm" src="../assets/bottom-news05.png" alt="Ad Image" height="42px" width="42px">
                <div class="section-footer">
                    <h3 class="btns__text">Kê biên, thu giữ bộ sưu tập đồng hồ xa xỉ và khối
                        tài sản "khủng" của cựu Bí thư Tỉnh ủy Bến Tre
                    </h3>
    
                    <div class="top-story__footer2 btns__footer">
                        <img class="branch-logo" src="../assets/tienphong.png" alt="Vietnamnet">
                        <p>1 giờ</p>
                        <p>6 liên quan</p>
                    </div>
                </div>
                
            </div>

            <h1 class="btns__f-header">| NĂNG LƯỢNG TÍCH CỰC </h1>

            <div class="section section--nopadding">
                <img class="section-img section-img--sm" src="../assets/bottom-news05.png" alt="Ad Image" height="42px" width="42px">
                <div class="section-footer">
                    <h3 class="btns__text">Kê biên, thu giữ bộ sưu tập đồng hồ xa xỉ và khối
                        tài sản "khủng" của cựu Bí thư Tỉnh ủy Bến Tre
                    </h3>
    
                    <div class="top-story__footer2 btns__footer">
                        <img class="branch-logo" src="../assets/tienphong.png" alt="Vietnamnet">
                        <p>1 giờ</p>
                        <p>6 liên quan</p>
                    </div>
                </div>
                
            </div>

            <div class="section section--nopadding">
                <img class="section-img section-img--sm" src="../assets/bottom-news05.png" alt="Ad Image" height="42px" width="42px">
                <div class="section-footer">
                    <h3 class="btns__text">Kê biên, thu giữ bộ sưu tập đồng hồ xa xỉ và khối
                        tài sản "khủng" của cựu Bí thư Tỉnh ủy Bến Tre
                    </h3>
    
                    <div class="top-story__footer2 btns__footer">
                        <img class="branch-logo" src="../assets/tienphong.png" alt="Vietnamnet">
                        <p>1 giờ</p>
                        <p>6 liên quan</p>
                    </div>
                </div>
                
            </div>

            <div class="section section--nopadding">
                <img class="section-img section-img--sm" src="../assets/bottom-news05.png" alt="Ad Image" height="42px" width="42px">
                <div class="section-footer">
                    <h3 class="btns__text">Kê biên, thu giữ bộ sưu tập đồng hồ xa xỉ và khối
                        tài sản "khủng" của cựu Bí thư Tỉnh ủy Bến Tre
                    </h3>
    
                    <div class="top-story__footer2 btns__footer">
                        <img class="branch-logo" src="../assets/tienphong.png" alt="Vietnamnet">
                        <p>1 giờ</p>
                        <p>6 liên quan</p>
                    </div>
                </div>
                
            </div>

            <div class="section section--nopadding">
                <img class="section-img section-img--sm" src="../assets/bottom-news05.png" alt="Ad Image" height="42px" width="42px">
                <div class="section-footer">
                    <h3 class="btns__text">Kê biên, thu giữ bộ sưu tập đồng hồ xa xỉ và khối
                        tài sản "khủng" của cựu Bí thư Tỉnh ủy Bến Tre
                    </h3>
    
                    <div class="top-story__footer2 btns__footer">
                        <img class="branch-logo" src="../assets/tienphong.png" alt="Vietnamnet">
                        <p>1 giờ</p>
                        <p>6 liên quan</p>
                    </div>
                </div>
                
            </div>

            <div class="section section--nopadding">
                <img class="section-img section-img--sm" src="../assets/bottom-news05.png" alt="Ad Image" height="42px" width="42px">
                <div class="section-footer">
                    <h3 class="btns__text">Kê biên, thu giữ bộ sưu tập đồng hồ xa xỉ và khối
                        tài sản "khủng" của cựu Bí thư Tỉnh ủy Bến Tre
                    </h3>
    
                    <div class="top-story__footer2 btns__footer">
                        <img class="branch-logo" src="../assets/tienphong.png" alt="Vietnamnet">
                        <p>1 giờ</p>
                        <p>6 liên quan</p>
                    </div>
                </div>
                
            </div>

            <div class="section section--nopadding">
                <img class="section-img section-img--sm" src="../assets/bottom-news05.png" alt="Ad Image" height="42px" width="42px">
                <div class="section-footer">
                    <h3 class="btns__text">Kê biên, thu giữ bộ sưu tập đồng hồ xa xỉ và khối
                        tài sản "khủng" của cựu Bí thư Tỉnh ủy Bến Tre
                    </h3>
    
                    <div class="top-story__footer2 btns__footer">
                        <img class="branch-logo" src="../assets/tienphong.png" alt="Vietnamnet">
                        <p>1 giờ</p>
                        <p>6 liên quan</p>
                    </div>
                </div>
                
            </div>



        </div>

    </div>

    <div class="sidebar">
        <div class="section">
            <img class="section-img" src="../assets/side-news01.png" alt="Ad Image" height="42px" width="42px">
            <div class="section-footer">
                <h3>Tổng Bí thư, Chủ tịch nước Tô 
                    Lâm sắp có chuyến công tác 
                    Mỹ, thăm cấp Nhà nước Cuba 
                </h3>

                <div class="top-story__footer2 top-story__footer3">
                    <img class="branch-logo" src="../assets/vietnamplus.png" alt="Vietnamnet">
                    <p>1 giờ</p>
                    <p>6 liên quan</p>
                </div>
            </div>
            
        </div>
        
        <div class="section">
            <img class="section-img" src="../assets/side-news02.png" alt="Ad Image" height="42px" width="42px">
            <div class="section-footer">
                <h3>Bức phá cùng chuyển đổi số,
                    ngành tài chính còn gặp không ít
                    thách thức
                </h3>

                <div class="top-story__footer2 top-story__footer3">
                    <img class="branch-logo" src="../assets/tienphong.png" alt="Vietnamnet">
                    <p>1 giờ</p>
                    <p>6 liên quan</p>
                </div>
            </div>
            
        </div>

        <div class="section">
            <img class="section-img" src="../assets/side-news03.png" alt="Ad Image" height="42px" width="42px">
            <div class="section-footer">
                <h3>Rác dạt vào biển Đà Nẵng sau
                    bão số 4, huy động 100 công
                    nhân đi dọn
                </h3>

                <div class="top-story__footer2 top-story__footer3">
                    <img class="branch-logo" src="../assets/vietnamplus.png" alt="Vietnamnet">
                    <p>1 giờ</p>
                    <p>6 liên quan</p>
                </div>
            </div>
            
        </div>

        <div class="section">
            <img class="section-img" src="../assets/side-news01.png" alt="Ad Image" height="42px" width="42px">
            <div class="section-footer">
                <h3>Tổng Bí thư, Chủ tịch nước Tô 
                    Lâm sắp có chuyến công tác 
                    Mỹ, thăm cấp Nhà nước Cuba 
                </h3>

                <div class="top-story__footer2 top-story__footer3">
                    <img class="branch-logo" src="../assets/vietnamplus.png" alt="Vietnamnet">
                    <p>1 giờ</p>
                    <p>6 liên quan</p>
                </div>
            </div>
            
        </div>
        
        <div class="section">
            <img class="section-img" src="../assets/side-news02.png" alt="Ad Image" height="42px" width="42px">
            <div class="section-footer">
                <h3>Bức phá cùng chuyển đổi số,
                    ngành tài chính còn gặp không ít
                    thách thức
                </h3>

                <div class="top-story__footer2 top-story__footer3">
                    <img class="branch-logo" src="../assets/tienphong.png" alt="Vietnamnet">
                    <p>1 giờ</p>
                    <p>6 liên quan</p>
                </div>
            </div>
            
        </div>

        <div class="section">
            <img class="section-img" src="../assets/side-news03.png" alt="Ad Image" height="42px" width="42px">
            <div class="section-footer">
                <h3>Rác dạt vào biển Đà Nẵng sau
                    bão số 4, huy động 100 công
                    nhân đi dọn
                </h3>

                <div class="top-story__footer2 top-story__footer3">
                    <img class="branch-logo" src="../assets/vietnamplus.png" alt="Vietnamnet">
                    <p>1 giờ</p>
                    <p>6 liên quan</p>
                </div>
            </div>
            
        </div>

        <div class="section">
            <img class="section-img" src="../assets/side-news03.png" alt="Ad Image" height="42px" width="42px">
            <div class="section-footer">
                <h3>Rác dạt vào biển Đà Nẵng sau
                    bão số 4, huy động 100 công
                    nhân đi dọn
                </h3>

                <div class="top-story__footer2 top-story__footer3">
                    <img class="branch-logo" src="../assets/vietnamplus.png" alt="Vietnamnet">
                    <p>1 giờ</p>
                    <p>6 liên quan</p>
                </div>
            </div>
            
        </div>

        <img class="poster" src="../assets/poster04.png">

        <img class="poster" src="../assets/poster.png">

        <img class="poster" src="../assets/poster02.png">

        <img class="poster" src="../assets/poster03.png">
    </div>
</div>

<footer>
    <p>Bản quyền thuộc về Báo Mới</p>
</footer>

</body>
</html>
